.nav_section_2 {
  background-image: url(../assets/bg3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body
  > footer
  > div.footer__top
  > div.logo.footer__logo
  > div.f__logo
  > span
  > i {
  color: #252525;
}

.booking_container {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  min-height: 70vh;
  box-shadow: var(--card-shadow);
  color: var(--text-color-2);
}

.passenger_info {
  border: 1px solid var(--border-color);
  min-height: 50vh;
}

.fare_details {
  border: 1px solid var(--border-color);
  min-height: 55vh;
}

.cb_btn {
  background-color: #316bff;
  color: var(--bg-color);
  border: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(0.95);
  }
}

.contact_details {
  border: none;
  width: 80%;
  padding: 1rem;
  outline: none;
  border-bottom: 1px solid var(--border-color);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    border-bottom: 1.5px solid var(--logo-color);
  }
}

.contact_details input {
  border: none;
  width: 90%;
  height: 40px;
  font-size: 1.5rem;
  padding: 0 0 0 1rem;
  outline: none;
}

.passenger_form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
}


